<h2>Beérkezett üzenetek</h2>
<table class="table">
  <thead><tr><th>ID</th><th>Név</th><th>E-mail</th><th>Üzenet</th><th>Idő</th></tr></thead>
  <tbody>
    <% messages.forEach(m => { %>
      <tr>
        <td><%= m.id %></td>
        <td><%= m.name %></td>
        <td><%= m.email %></td>
        <td><%= m.message %></td>
        <td><%= m.created_at %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
